#container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: auto;
    max-width: auto;
    font-size: 1.5em;
    padding: 10px;
}
label{
    font-size: 1em;
    margin-bottom: 20px;
}
#numofdice{
    text-align: center;
    height: 15px;
    width: 50px;
    font-size: 0.5em;
}
button{
    background-color: black;
    color: azure;
    transition: all 0.3s ease;
    border-radius: 2px;
    cursor: pointer;
}
button:hover{
    background-color: azure;
    color: black;
}
button:active{
    background-color: black;
    color: azure;
}
